{% extends "_layout.html" %}
{% block content %}
<div class="leaveHeader" id="main">
						<div class="col-md-3" id="n1">
						</div>
						<div class="col-md-3" id="n2">
						</div>
						<div class="col-md-3" id="n3">
						</div>
						<div class="col-md-3" id="n4">
						</div>
   		</div>
	  <div id="window" class="modal" tabindex="-1" aria-labelledby="windowtitle" role="dialog">
			<div class="modal-dialog">
			   <div class="modal-content">
				  <div class="modal-header">
					 <h4 class="modal-title" id="window_title"></h4>
				  </div>
				  <div class="modal-body" id="window_content">
					 <ul class="list-group">
						<li class="list-group-item" id="window_phone"></li>
						<li class="list-group-item" id="window_address"></li>
						<li class="list-group-item" id="window_description"></li>
						
					 </ul>
					 <div class="list-group-item clearfix windowImgScroll" id="window_pics">
							 
						</div>
				  </div>
			   </div>
			   
			</div>
	  </div>
{% endblock %}