{% extends "_layout.html" %}
{% block title %}便民{% endblock %}
{%block css%}home{%endblock%}
{%block script%}
   <script>
      position = "/static/data/"+"{{position}}"+".json";
      type= '{{type}}';
   </script>
   <script src="/static/js/home-client.js"></script>
{%endblock%}
{% block content %}

    <div class="row">
         <div id="container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="page-header right">商家</h2>
        </div>
    </div>
    
    <div id="window" class="modal" tabindex="-1" aria-labelledby="windowtitle" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="title"></h4>
            </div>
            <div class="modal-body" id="window_content">
               <ul class="list-group">
                  <li class="list-group-item" id="phone"></li>
                  <li class="list-group-item" id="address"></li>
                  <li class="list-group-item" id="description"></li>
               </ul>
            </div>
         </div>
         
      </div>
    </div>
{% endblock %}
