{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{%block css%}home{%endblock%}
{% block content %}

    <div class="row">
        <!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h2 class="page-header">Actions</h2>
            <a class="btn btn-primary" href="/Auth">Login</a><br/><br/>
            <a class="btn btn-warning" href="/Register">Regiser</a>
        </div>-->
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="page-header right">新闻</h2>
            然而并没有什么新闻。
        </div>
    </div>
{% endblock %}
