{% extends "layout.html" %}
{% block title %}矿工{% endblock %}
{%block css%}miner{%endblock%}
{%block script%}
    <script src="/js/miner.js"></script>
{%endblock%}
{% block content %}
创造一个大的面板，16*16<br>
每一格子都可以点开，以收集背后物品，资源地址[Folder: /contents/miner_items.json]<br>
规则：<br>
基础规则：<br>
“每日收集”是一套收集列表，这个列表是随机的，每天都会被公示。 收集完成后会计入个人成绩。<br>
所有的玩家（也许应该是少于10个人）在同一个房间使用同一个面板， 玩家的个人成绩将会被列在左侧，当日收集的物品将会被实时显示。<br>
<br>
<br>
玩家数据记录：<br>
点击次数，成套的物品收集率，使用过的物品数<br>
<br><br>
额外规则：<br>
1. 玩家唯一技能是：打开三个格子，冷却90秒<br>
2. 特殊物品能够降低冷却。<br>
3. 特殊物品能够增加技能能力（增加次数）<br>
4. 可收集类型物品将会被永久保存。<br>
5. 每个物品都可以收集多次。<br>
6. 特殊物品都会被直接作用于玩家。<br>
7. 可交换物品<br>
8. 格子具有瞬时能力，打开后立即作用于目标。这并非物品。<br>


{% endblock %}